@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bungee+Spice&family=Dancing+Script&family=Press+Start+2P&family=Roboto:wght@500&display=swap');
*{
    background-color: black;
    color: white;
    font-family: 'Bungee Spice', cursive;
}
a{
   text-decoration: underline;
}
footer{
    text-align: center;
}
.PC img{
    width: 100%;
    height: 100vh;
}
.phone img{
    width: 100%;
    height: 100vh;
}
@media (max-width:991px){
	.PC{
		display: none;
		/* flex-direction: column; */
		width: 100%;
		margin: 0px;
	}
}
@media (max-width:99999999999999999999999999999999999px) and (min-width:991px){
	.phone{
		display: none;
	}
}